.sidebar {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 250px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: rgb(240, 240, 240); /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
  }

  .content {
    margin-left: 250px; /* Same as the width of the sidebar */
    padding: 0px 10px;
  
  }
  #featuredChampion {
    border: 5px solid #FFFF00; /*placeholder so i can see what the area is like*/
    text-align: center;
    align-items: start;
    margin-left: 400px;
  }
  #featuredChampion h2{
  }

  ul.no-bullets {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
  }